/**
 * Index page styles
 */
.index-wrapper {
  padding-top: 40px;

  .jumbotron {
    padding: 20px;
  }

  #index-jumbotron {
    background-image: url("/assets/production/images/computer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .inner-jumbotron {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    border: 1px transparent;
    border-radius: 5px;
  }
}

/**
 * Search results page styles
 */
#search-results {
  list-style: none;
  padding: 0;
}


/**
 * Blog page styles
 */
#blog-page {
  .blog-posts {
    list-style: none;
    padding: 0;

    li {
      padding-top: 20px;
    }
  }
}
